html,
body {
  overflow-x: hidden;
  width: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #595959;
  padding: 5%; }

h1 {
  text-align: center;
  font-size: 400%;
  font-family: 'Carme', sans-serif;
  color: #676C8E;
  font-weight: bold; }

h2 {
  text-align: center;
  margin: 4%; }

/*** navbar ***/
#navbar {
  padding: 1.5%; }

.nav-link {
  text-transform: uppercase;
  font-weight: bolder;
  color: #595959;
  font-size: 130%; }

.nav-link:hover {
  color: #595959;
  opacity: 0.5;
  text-decoration: underline;
  text-underline-offset: 0.3em; }

.mid-item {
  padding: 0 50px; }

/*** footer ***/
#footer {
  text-align: center; }

.fa-envelope-o, .fa-linkedin, .fa-github {
  background: #676C8E;
  color: white;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin: 3% 7px;
  padding: 10px; }

.fa:hover {
  color: white;
  opacity: 0.7; }
